* {
    /*消除網頁邊框*/
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgba(72, 166, 228, 0.35);
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.item-group {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.title {
    margin: 0 0px 10px;
    padding: 20px 10px;
    background-color: #ccc;
}

.item {
    margin: 0 10px 20px;
}

.item .pic img {
    width: 400px;
    height: 400px;
}

.item .text h3 {
    font-size: 24px;
    text-align: center;
    float: none;
}

.footer {
    background-color: rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: seashell;
    text-align: center;
    padding: 10px 0;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.menu li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0px 50px 0px 0px;
    font-size: 25px;
    font-family: monospace;
}

.menu li a {
    text-decoration: none;
    color: rgb(146, 151, 150);
    transition: color linear 0.15s;
    cursor: pointer;
    display: block;
}

.menu .menu-logo {
    margin: 0px;
    margin-left: 0px;
    padding: 0px 10px 0px 20px;
}

.menu .menu-logo a {
    color: #fff;
}

.menu a:hover,
.menu .current-active a {
    text-decoration: none;
    color: #337275;
}

.toggle-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    div {
        display: flexbox;
    }
    .item-group {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        position: relative;
        display: inline-block;
    }
    .toggle-nav {
        position: absolute;
        left: 2%;
        font-size: 30px;
        font-family: monospace;
        color: #030303;
        text-decoration: none;
        line-height: 100px;
    }
    .menu .menu-logo {
        position: relative;
        left: 40%;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        left: 0px;
        padding: 10px 25px;
        margin-top: -5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #ffffffe0;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
}